:root {
  --even: crimson;
  --odd: cornflowerblue;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 125%;
}

h1 {
  font-variant-caps: small-caps;
}

header {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
  width: 100%;
  max-width: 400px;
  aspect-ratio: 1;
  margin: 0 auto;
}

.cell {
  background: lightgray;
  border: 1px solid #ccc;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &.even {
    background: crimson;
  }

  &.odd {
    background: cornflowerblue;
  }

  &[data-legal] {
    cursor: pointer;

    &.highlight-even {
      &:hover {
        background: lightpink;
      }
    }

    &.highlight-odd {
      &:hover {
        background: lightblue;
      }
    }
  }
}
